.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.row {
  border: 1px gray solid;
}

.cell {
  min-width: 100px;
  min-height: 30px;
  display: inline-block;
  border-left: 2px gray solid;
}

.row:nth-child(even) {
  background-color: #ccc;
}

header {
  min-width: 700px;
  height: 30px;
  border: 1px gray solid;
  border-top: 2px gray solid;
  background-color: #ccc;
}

header span {
  min-width: 100px;
  min-height: 30px;
  display: inline-block;
  border-left: 2px gray solid;
}

.logo {
  position: absolute;
  top: 0;
  background-color: #ff6f61;
  color: #fff;
  font-size: 3rem;
  width: 100%;
  padding: 15px;
  text-align: center;
}
